/* =================  Definindo variáveis  */

:root {
    --fonte-principal: "Montserrat", sans-serif;
    --branco-texto: #E8F1EE;
    --branco: #ffffff;
    --amarelo: #FFB347;
    --laranja-princiapl: #F37021;
    --azul-escuro: #0B2B64;
    --azul-claro: #007AFF;
}


* {
    margin: 0;
    padding: 0;
}

a:any-link {
    text-decoration: none;
}


/* ? ==============================   HEADER DESKTOP  ===================================== */

.container_header {
    display: flex;
    background-image: url(./assets/bg_header.svg);
    width: 100vw;
    height: 804px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;

}

.header_menu {
    position: fixed;
    display: flex;
    top: 2rem;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
    height: 85px;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--branco-texto);


}

.header_links {
    display: flex;
    align-items: center;
    column-gap: 4rem;

}

.header_logo {
    width: 161px;
    align-self: baseline;
}

.header_pages {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    height: 85px;
    align-items: center;

}

.header_pages a {
    color: var(--branco-texto);
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;



}

.header_pages a:hover {
    padding-bottom: 3.1rem;
    padding-top: 3.1rem;
    cursor: grab;
    border-bottom: 3px solid var(--amarelo);

}

.header_social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0.5rem;
}

.container_inicial {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 6rem;
    width: 90vw;
    justify-content: space-between;
    column-gap: 9rem;


}

.inicial_info {
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.info_title {
    font-family: var(--fonte-principal);
    color: var(--branco-texto);
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 40vw;
}

.info_subtitle {
    color: var(--branco-texto);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.9rem;
    padding-top: 0.5rem;
}

.linha_amarela {
    background: #FA9131;
    height: 3px;

}

.info_impermebabilizacao_tipo {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 22.648px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.9rem;
}

.info_produtos {
    display: flex;
    width: 45vw;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.produto_mofo {
    display: flex;
    background-color: var(--laranja-princiapl);
    border-radius: 10.504px;
    border: 1px solid #FFF;
    align-items: center;
    column-gap: 0.5rem;
    padding: 0.3rem 0.6rem;
}

.produto_mofo p {
    color: var(--branco);

    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 14.006px;
    font-style: normal;
    font-weight: 800;
    line-height: 14.881px;
}

.info_btn_whtsaap {
    display: flex;
    align-items: center;
    background-color: #00E67F;
    height: 48px;
    justify-content: center;
    column-gap: 2rem;
    border-radius: 9.805px;
    margin-top: 1rem;
}

.info_btn_whtsaap p {
    color: var(--branco-texto);

    text-shadow: 0px 0px 10.7px rgba(2, 51, 45, 0.00);
    font-family: var(--fonte-principal);
    font-size: 20.642px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.inicial_banner {
    width: 40vw;
}

/* ? ==============================   CONTAINER DIFERENCIAL DA EMPRESA  ===================================== */

.container_diferencial {
    width: 100vw;
    display: flex;
    background-color: var(--azul-escuro);
    height: 320px;
    align-items: center;
    justify-content: space-evenly;

}

.diferencial_empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    

}

.diferencial_tipo {
    color: var(--branco);

    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 17.769px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.diferencial_txt {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.8%;
    width: 20vw;
    text-align: center;
    min-height: 100px;
}

.img_diferencial_1 {
    width: 71.54px;
}

.img_diferencial_2 {
    width: 45.32px;
}

.img_diferencial_3 {
    width: 66.39px;
}